@media screen and (max-width: 800px) {
    /* .second-colunm, .first-column, .first-colunm-content{
        display: block;
    } */

    .img-nav{
        margin-left: 10px;
    }

    .btn-mobile{
        display: block;
        position: absolute;
        background: none;
        border: none;
        right: 10px;
        top: 50px;
        transform: translateY(-50%);
    }

    .text-nav.flex{
        display: none;
        width: 260px;
        height: 100vh;
        background-color: #fff;
        position: fixed;
        top: 0;
        right: 0;
    }

    #nav.active .text-nav, #nav.active ul.flex {
        display: block;
    }

    .width-max{
        width: 99vw;
    }

    .header{
        display: block;
        width: 99vw;
    }

    .img-header img{
        width: 100%;
    }
    
    .first-column{
        text-align: center;
    }

    h1{
        font-size: 37px;
        display: inline;
    }

    .first-column-content{
        grid-template-rows: repeat(4, 1fr);
    }

    .btn-header{
        justify-content: center;
    }

    .right-text{
        flex-direction: column;
        align-items: center;
    }

    .right-text a{
        width: 80%;
        text-align: center;
    }

    .ul-nav.flex{
        margin-top: 100px;
        margin-left: 40px;
    }

    .sub-ul-nav{
        display: none;
    }

    .sub-ul-nav.show-line{
        position: static;
        box-shadow: none;
        -webkit-box-shadow: none;
        z-index: 1000;
    }

    .btn-close-backgroud{
        height: 100vh;
        width: calc(100vw - 260px);
        position: absolute;
        right: 260px;
        background-color: black;
        opacity: 0.5;
        border: none;
        transform: none;
        top: 0;
    }

    .ul-nav li ul {
        pointer-events: none;
    }

    .sub-ul-nav.show-line{
        display: block;
    }

    .title-header{
        padding-top: 12%;
    }

}